{
	http_port 8080
	auto_https off

	servers {
		trusted_proxies static private_ranges
		timeouts {
			read_body 60s
		}
	}

	frankenphp {
		# Let FrankenPHP size the thread pool itself. It scales up under load.
		max_threads auto
		worker {
			num {$FRANKENPHP_NUM_WORKERS:4}
			file ./public/index.php
		}
	}

	log {
		output stdout
		format console
		level {$CADDY_LOG_LEVEL:ERROR}
	}
}

import /etc/frankenphp/snippets/paths.caddyfile

:8080 {
	root /var/www/public
	encode zstd br gzip

	# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
	header {
		?Permissions-Policy "browsing-topics=()"
	}

	@notAppServedFile not path /files/*
	header @notAppServedFile Cache-Control "no-cache, no-store, must-revalidate"

	# Path-routing rules (/files/*, /assets/*).
	import paths

	# Serve everything else trough Symfony.
	handle {
		@phpRoute {
			not file {path}
		}

		rewrite @phpRoute index.php

		@frontController path index.php
		php @frontController
	}

	# Handle error codes.
	handle_errors 403 404 {
		root /var/www/public
		rewrite * /{err.status_code}.html
		file_server
	}

	handle_errors 5xx {
		root /var/www/public
		rewrite * /50x.html
		file_server
	}

	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}

	# Hide sensitive files from filesystem
	file_server {
		hide *.php *.yaml *.yml */log
	}
}
