<p class="mb-1 text-xxs text-gray-500">{{ "Matches on the activity's finishing point."|trans({}, 'admin') }}</p>
{% include 'html/admin/page/settings/automation-rules/rule-config/_proximity-fields.html.twig' with { namePrefix: namePrefix } %}
