<div>
    <label class="mt-0! text-xs">{{ "Description"|trans({}, 'admin') }}</label>
    <textarea name="{{ namePrefix }}[description]" data-repeater-field="config.description" rows="2"
              placeholder="{{ "eg: Imported automatically"|trans({}, 'admin') }}" class="mt-0"></textarea>
</div>
