<p class="mb-1 text-xxs text-gray-500">{{ "Matches when any point of the route comes near the location."|trans({}, 'admin') }}</p>
{% include 'html/admin/page/settings/automation-rules/rule-config/_proximity-fields.html.twig' with { namePrefix: namePrefix } %}
