<div>
    <label class="mt-0! text-xs">{{ "Activity name"|trans({}, 'admin') }}</label>
    <input type="text" name="{{ namePrefix }}[name]" data-repeater-field="config.name" required
           placeholder="{{ "eg: Morning commute"|trans({}, 'admin') }}" class="mt-0">
</div>
