<div class="flex items-center gap-2">
    <input type="checkbox" name="{{ namePrefix }}[isCommute]" value="true" data-repeater-field="config.isCommute" checked class="mt-0">
    <label class="mt-0! text-sm">{{ "Mark the activity as a commute"|trans({}, 'admin') }}</label>
</div>
