{% extends "html/gear/maintenance/gear-maintenance.html.twig" %}

{% block content %}
    {% autoescape false %}
        {% include 'html/gear/gear-sub-menu.html.twig' with {activeMenuItem: 'gearMaintenance', maintenanceTaskIsDue: false} %}
        <div class="grid grid-cols-1 gap-4">
            <div class="mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
                <h3 class="mb-4 text-lg font-semibold">
                    {{ "Gear maintenance"|trans }}
                </h3>
                <div class="alert alert--info mb-4" role="alert">
                    <span class="sr-only">Info</span>
                    <div>
                        {% set configFile = '<span class="italic">./config/gear-maintenance.yaml</span>' %}
                        <span class="font-medium">{{ "This feature is currently disabled"|trans }}.</span>
                        {{ "To enable it, configure this in the admin panel and rebuild the files for the changes to take effect"|trans }}.
                    </div>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}