a.site-title {
	color: var(--sl-color-white);
}

.sl-markdown-content starlight-image-zoom-zoomable {
	width: auto;
}

.sl-markdown-content iframe {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

.tablist-wrapper [role='tab'] {
	white-space: nowrap;
}
